body {
  background-color: #999;
}

h1 {
  color: #FFF;
  font-family: serif;
  font-size: 20px;
  text-align: center;
}

.box {
  background-color: #000;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
}

#num {
  color: #FFF;
  font-family: serif;
  font-size: 55px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
  text-align: center;
}

.buttons {
  margin: 10px auto;
  text-align: center;
}

.btn {
  background-color: #EEE;
  border: 0;
  cursor: pointer;
  width: 100px;
  padding: 10px 0;
}

#lower {
  background-color: #CCF;
}

#lower:hover {
  background-color: #EEF;
}

#higher {
  background-color: #FCC;
}

#higher:hover {
  background-color: #FEE;
}

p {
  color: #FFF;
  font-size: 13px;
  margin: 0;
  text-align: center;
}

#end {
        color: #F00;
}
